@import './colors';
@import './constants';

// Theme Variables
:root {
  --bg-primary: #{$bg-light};
  // --bg-secondary: #{$secondary};
  --text-primary: #{$text-light};
  --text-secondary: #{$text-light-secondary};
  --text-button: transparent;
  --accent-primary: #{$deep-orbit};
  --selection-bg: #ff0077;
  --selection-text: #fff;
  --box-shadow: #{$box-shadow-light};
  --services-card-bg: #{$services-card-bg-light};
  --services-card-bg-hover: #{$services-card-bg-hover-light};
  --services-card-badge-bg: #{$services-card-badge-bg-light};
  --highlight: #{$highlight-light};
  --input-border-filled: #{$input-border-filled-light};
  --footer-overlay: #{$footer-overlay-light};
}

.dark {
  --bg-primary: #{$bg-dark};
  --bg-secondary: #1e1e1e;
  --text-primary: #{$text-dark};
  --text-secondary: #{$text-dark-secondary};
  --text-button: #{$text-dark};
  --accent-primary: #{$supernova-burst};
  --selection-bg: #ff3399;
  --selection-text: #fff;
  --box-shadow: #{$box-shadow-dark};
  --services-card-bg: #{$services-card-bg-dark};
  --services-card-bg-hover: #{$services-card-bg-hover-dark};
  --services-card-badge-bg: #{$services-card-badge-bg-dark};
  --highlight: #{$highlight-dark};
  --input-border-filled: #{$input-border-filled-dark};
  --footer-overlay: #{$footer-overlay-dark};
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Italic';
  src: url('/fonts/Inter-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  color: var(--text-primary);
  overflow: hidden;
  transition: background-color .4s $easing;

  ::selection {
    background: var(--highlight);
    color: var(--selection-text);
  }

  ::-moz-selection {
    background: var(--highlight);
    color: var(--selection-text);
  }
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-container {
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  min-height: 100vh;
  height: 100%;
  scrollbar-width: none;
  // background-color: var(--bg-primary);

  &::-webkit-scrollbar {
    display: none;
  }

  > section {
    scroll-snap-align: start;
    min-height: 100vh;
    // background-color: var(--bg-primary);
  }
}

.content-container {
  width: 100%;
  max-width: 2160px;
  min-height: 100%;
  // background-color: var(--bg-primary);
  color: var(--text-primary);
}

h1 {
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-primary);
}

h2 {
  font-size: 28px;
  text-transform: uppercase;
  color: var(--text-primary);
}

p, fieldset {
  font-size: 18px;
  font-weight: 200;
  color: var(--text-primary);
}

form label {
  font-size: 14px;
  color: var(--text-primary);
  border: 1px solid var(--text-secondary);
}

.button {
  /* Base button styling */
  padding: 16px 32px;
  border-radius: 999px;
  border: none;
  background: transparent;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: fit-content;
  white-space: nowrap;
  transition: filter, box-shadow .6s $easing;
  
  /* Text gradient */
  background-image: var(--accent-primary);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
  /* Border effect */
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 999px;
    padding: 2px;
    background: var(--accent-primary);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
  
  /* Hover state */
  &:hover {
    // filter: brightness(1.25);
    box-shadow: var(--box-shadow);
    
    /* Additional hover border */
    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   width: 100%;
    //   height: 100%;
    //   background: transparent;
    //   border: 2px solid var(--accent-primary);
    //   border-radius: 999px;
    //   transform: translate(-50%, -50%);
    //   pointer-events: none;
    //   z-index: -1;
    // }
  }
  
  /* Ripple animations */
  &.with-ripple:hover {
    /* First ripple effect */
    &::before {
      /* Keep existing styling */
      animation: ripple 2s $easing forwards;
    }
    
    /* Second ripple with delay */
    // &::after {
    //   content: "";
    //   position: absolute;
    //   inset: 0;
    //   border-radius: 999px;
    //   border: solid 2px var(--accent-primary);
    //   pointer-events: none;
    //   background: transparent;
    //   // animation: ripple 3s 2s $easing forwards;
    // }
  }
}

.menu nav button.selected::selection {
  -webkit-background-clip: none;
  color: #fff;
  -webkit-text-fill-color: initial;
}

/* Separate class for just the border without animation */
.fancy-button-static {
  padding: 16px 32px;
  border-radius: 999px;
  border: none;
  background: transparent;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: fit-content;
  transition: filter, box-shadow .5s ease;
  
  /* Text gradient */
  background-image: var(--accent-primary);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
  /* Border effect */
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 999px;
    padding: 2px;
    background: var(--accent-primary);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
  
  /* Hover state */
  &:hover {
    filter: brightness(1.25);
    box-shadow: var(--box-shadow);
    
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background: transparent;
      border: 2px solid var(--accent-primary);
      border-radius: 999px;
      transform: translate(-50%, -50%);
      pointer-events: none;
      z-index: -1;
    }
  }
}

/* Keyframe animation */
@keyframes ripple {
  to {
    transform: scale(1.6);
    // border: 10px solid var(--accent-primary);
    opacity: 0;
  }
}

ul li {
  color: var(--text-primary);
}

input, textarea {
  color: var(--text-primary);
  border-bottom: 1px solid var(--text-primary);

  // &::placeholder {
  //   color:
  // }
}

label {
  input:checked ~ & {
    border-color: var(--text-primary);
  }

  &:hover {
    border-color: var(--text-primary);
  } 
}



.cta-header .cta-highlight {
  background: var(--accent-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header:hover .header-logo {
  background-image: var(--accent-primary);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  // animation: gradientMove 3s infinite linear forwards;
}

.wave-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scrollbar-width: none;
  z-index: -1;
  pointer-events: none;
  will-change: transform, opacity;
  // background-color: var(--bg-primary);
  transition: background-color .5s ease-in-out;

  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  display: flex;
  gap: 20px;
}

@media (max-width: 960px) {
  h2 {
    font-size: 28px;
  }
}