@import '../styles/colors';
@import '../styles/constants';
@import '../styles/animations';

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  opacity: 0.3; /* Set initial opacity */
  transition: opacity 0.6s $easing; /* Add transition for opacity */
  
  &:hover {
    opacity: 1 !important;
  }

  .header-logo {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
  }

  &:hover .header-logo {
    animation: gradientMove 4s infinite $easing forwards;
  }

  .header-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .logo-svg {
    height: 50px;
    width: 50px;
  }

  svg {
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
}

.wave-toggle svg {
  width: 30px;
  height: 30px;
}

.accent-icon {
  color: #ffd700 !important;
}

.wave {
  animation: waveAnimation 1.5s ease-in-out infinite;
}

@keyframes waveAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-45px);
  }
}

@media (max-width: 960px) {
  .header {
    align-items: center;
    opacity: 1;  /* Ensure full opacity on mobile */
    padding: 20px;

    .header-logo {
      animation: gradientMove 4s infinite $easing forwards;
    }

    .header-buttons {
      flex-direction: row-reverse;

      .wave-toggle,
      .theme-toggle {
        transform: translateY(0) !important;
        opacity: 1 !important;
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    padding: 15px; /* Adjust padding on very small screens */
  }
}
